
    html {
        height: 100%;
    }

    body {
        height: 100%;   
        overflow: hidden;  /*makes the body non-scrollable (we will add scrolling to the sidebar and main content containers)*/
        margin: 0px;  /*removes default style*/
        display: flex;  /*enables flex content for its children*/
        box-sizing: border-box;
    }

    .column {
        height: 100%;  /*allows both columns to span the full height of the browser window*/
        display: flex;
        flex-direction: column;  /*places the left and right headers above the bottom content*/
    }

    #left {
        flex-shrink: 0;  /*makes sure that content is not cut off in a smaller browser window*/
    }

    .top-left {
        flex-shink: 0;
    }

    .top-right {
        flex-shrink: 0;
        display: inline-flex;
    }

    ul {
        display: inline-flex;
        list-style: none;
    }

    .bottom {
        flex-grow: 1;  /*ensures that the container will take up the full height of the parent container*/
        overflow-y: auto;  /*adds scroll to this container*/
    }

    #svg-container {
      width: 1200px;
      margin: 0 auto;
    }

    #slider-simple {
      width: 1200px;
      margin: 0 auto;
    }

    #main-window {
      overflow-y: hidden;
    }

    div#tooltip {
        position: absolute;					
        width: 260px;										
        padding: 6px 10px;				
        font: 12px sans-serif;
        background: #ddd;	
        border: 0px;		
        pointer-events: none;	
        opacity: 0;		
    }

    .line {
        fill: none;
        stroke: red;
        stroke-width: 3;
    }

    .zoom {
      cursor: move;
      fill: none;
    }

    .negatief {
      stroke: red;
    }

    .positief {
      stroke: green;
    }

    .neutraal {
      stroke: orange;
    }

    #left {
      float: left;
      width: 390px;
      height: 100%;
      background: #eee;
    }
    
    .container {
      padding: 36px 21px 21px 21px;
      float: left;
    }

    .clearfix {
      clear: both;
    }

    #content {
      width: 100%;
    }

    h1 {
      font-family: "DIN-Bold", sans-serif;
      font-size: 2.1em;
      width: 1075px;
      margin: 0 auto;
      color: #333;
    }

    h1::after {
      content: '';
      position: relative;
      bottom: -5px;
      width: 61px;
      height: 4px;
      background-color: #333;
      display: block;
      margin: 11px 0;
    }

    h2 {
      font-family: "DIN", sans-serif;
      font-size: 1.7em;
      margin: 0 0 21px 0;
    }

    p {
      line-height: 1.5;
      color: #333;
    }

    em {
      color: #009ED8;
    }

    bold {
      font-weight: 600;
    }

    .top-left, .top-right {
      padding: 36px 21px 21px 21px;
    }

    .top-right {
      padding: 36px 21px 21px 0;
    }

    /* @button-colour: #009ED8; */

    .button {
      display: inline-block;
      font-family: "Montserrat", "Trebuchet MS", Helvetica, sans-serif;
      -webkit-font-smoothing: antialiased;
      position: relative;
      padding: .8em 1.1em;
      padding-right: 3.7em;
      background: #333;
      border: none;
      color: white;
      transition: .2s;
      margin: 0 21px 21px 0;
    }

    @import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");

    .button::before, .button::after {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      padding-top: inherit;
      padding-bottom: inherit;
      width: 2.2em;
      font-family: "Font Awesome\ 5 Free";
      font-style: normal;
      font-weight: 900;
      text-decoration: inherit;
      font-size: 1.2em;
      text-align: center;
      transition: .2s;
      transform-origin: 50% 60%;
    }
    .button::before {
      background: fadeout(#000, 90%);
    }
    .button::after {
      background: #222;
      content: "\f00c";
    }
    .button:hover {
      background: darken(#009ED8, 10%);
      color: black;
    }
    

    #filter-positief {
      background: #009900;
    }

    #filter-positief::after {
      background: green;
    }

    #filter-neutraal {
      background: #ffaf1a;
    }

    #filter-neutraal::after {
      background: orange;
    }

    #filter-negatief {
      background: #ff1a1a;
    }

    #filter-negatief::after {
      background: red;
    }

    .active {
      opacity: 0.6;
    }

    .button {
      min-width: 11em;
    }

    .check::after {
      /* content: "\f00c"; */
    }

    .active::after {
      content: "\f00d";
    }

    .top-left {
      border-bottom: 3px solid white;
    }

    #bottom-left {
      padding: 21px 21px 21px 21px;
    }

    #value-step {
      display: none;
    }

    .data-message {
      box-sizing: border-box;
      width: 100%;
      background: white;
      padding: 11px;
      margin-bottom: 11px;
    }

    p {
      font-family: "Montserrat-light", sans-serif;
      font-size: .95em;
    }

/* 
    #timeGrid rect {
      fill: #eee;
    }
     */